In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/home/bethtian/fintech545/beth-fintech545/Project02/DailyPrices.csv")
df

,Date,SPY,AAPL,NVDA,MSFT,AMZN,META,GOOGL,AVGO,TSLA,...,SBUX,MMC,MDT,CB,LMT,KKR,MU,PLD,LRCX,EQIX
0,2023-01-03,370.367920,123.768456,14.304595,236.183502,85.820000,124.265305,88.798103,53.397118,108.099998,...,96.842888,161.264664,73.835571,214.210434,455.904877,45.874386,49.810677,106.143532,35.568180,639.647766
1,2023-01-04,373.227142,125.045052,14.738281,225.852097,85.139999,126.885315,87.761856,54.049290,113.639999,...,100.329346,164.402908,76.392372,217.732574,454.921539,47.269882,53.598137,110.165482,36.268723,656.679016
2,2023-01-05,368.967438,123.718987,14.254632,219.158371,83.120003,126.456940,85.888649,53.545685,110.339996,...,100.300537,161.420135,75.505508,216.917526,455.465698,46.581966,54.102486,106.294243,35.805130,637.822998
3,2023-01-06,377.428589,128.271118,14.848200,221.741211,86.080002,129.525223,87.024529,56.768929,113.059998,...,102.471153,166.103210,76.288589,222.060059,451.809113,47.348503,56.139599,109.873489,38.226994,650.683350
4,2023-01-09,377.214661,128.795578,15.616640,223.900162,87.360001,128.977310,87.702065,55.655602,119.769997,...,100.598274,165.549393,73.156288,216.869034,438.204468,48.783306,55.734154,109.317757,38.841690,657.654114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,2024-12-27,595.010010,255.589996,137.009995,430.529999,223.750000,599.809998,192.759995,241.750000,431.660004,...,92.250000,213.470001,80.739998,277.679993,488.970001,149.860001,88.514999,105.239998,73.400002,942.659973
500,2024-12-30,588.219971,252.199997,137.490005,424.829987,221.300003,591.239990,191.240005,235.580002,417.410004,...,90.580002,211.979996,79.610001,275.410004,483.369995,148.389999,85.309998,105.099998,72.150002,935.929993
501,2024-12-31,586.080017,250.419998,134.289993,421.500000,219.389999,585.510010,189.300003,231.839996,403.839996,...,91.250000,212.410004,79.879997,276.299988,485.940002,147.910004,84.160004,105.699997,72.230003,942.890015
502,2025-01-02,584.640015,243.850006,138.309998,418.579987,220.220001,599.239990,189.429993,231.979996,379.279999,...,92.169998,211.339996,80.220001,272.519989,482.250000,149.190002,87.330002,104.260002,72.440002,944.229980
503,2025-01-03,591.950012,243.360001,144.470001,423.350006,224.190002,604.630005,191.789993,232.550003,410.440002,...,92.580002,211.270004,80.949997,271.730011,481.820007,152.029999,89.870003,105.629997,75.110001,959.969971

In [4]:
required_stocks = ['SPY', 'AAPL', 'EQIX']
stock_prices = df[required_stocks]  
stock_prices

            SPY        AAPL        EQIX
0    370.367920  123.768456  639.647766
1    373.227142  125.045052  656.679016
2    368.967438  123.718987  637.822998
3    377.428589  128.271118  650.683350
4    377.214661  128.795578  657.654114
..          ...         ...         ...
499  595.010010  255.589996  942.659973
500  588.219971  252.199997  935.929993
501  586.080017  250.419998  942.890015
502  584.640015  243.850006  944.229980
503  591.950012  243.360001  959.969971

[504 rows x 3 columns]

# A.

In [5]:
arithmetic_returns = stock_prices.pct_change()

arithmetic_returns_zero_mean = arithmetic_returns - arithmetic_returns.mean()

arithmetic_std = arithmetic_returns_zero_mean.std()

print("\nLast 5 rows of Arithmetic Returns (Zero Mean):")
print(arithmetic_returns_zero_mean.tail(5))
print("\nStandard Deviation of Arithmetic Returns (Zero Mean):")
print(arithmetic_std)

Last 5 rows of Arithmetic Returns (Zero Mean):
          SPY      AAPL      EQIX
499 -0.011492 -0.014678 -0.006966
500 -0.012377 -0.014699 -0.008064
501 -0.004603 -0.008493  0.006512
502 -0.003422 -0.027671  0.000497
503  0.011538 -0.003445  0.015745

Standard Deviation of Arithmetic Returns (Zero Mean):
SPY     0.008077
AAPL    0.013483
EQIX    0.015361
dtype: float64

# B.

In [11]:
log_returns = np.log(stock_prices / stock_prices.shift(1))

log_returns_zero_mean = log_returns - log_returns.mean()

log_std = log_returns_zero_mean.std()

print("\nLast 5 rows of Log Returns (Zero Mean):")
print(log_returns_zero_mean.tail(5))

print("\nStandard Deviation of Log Returns (Zero Mean):")
print(log_std)

Last 5 rows of Log Returns (Zero Mean):
          SPY      AAPL      EQIX
499 -0.011515 -0.014675 -0.006867
500 -0.012410 -0.014696 -0.007972
501 -0.004577 -0.008427  0.006602
502 -0.003392 -0.027930  0.000613
503  0.011494 -0.003356  0.015725

Standard Deviation of Log Returns (Zero Mean):
SPY     0.008078
AAPL    0.013446
EQIX    0.015270
dtype: float64